﻿@using WebViewModel.Models
@model Book

<h1>@Model.Title</h1>
<ul>
    <li><label asp-for="ISBN"></label>: @Model.ISBN </li>
    <li><label asp-for="numberOfPages"></label>: @Model.numberOfPages </li>
    <li><label asp-for="Author"></label>: @Model.Author.FirstName @Model.Author.LastName </li>
</ul>
<a asp-controller="Book" asp-action="Index" class="btn btn-primary">Back to list</a>
